/* GENERAL STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  user-select: none;
}

body {
  margin: 0;
  position: relative;
  background-color: #333;
  color: #ECFCFF;
  font-family: leagueSpartan;
}

@font-face {
  font-family: "leagueSpartan";
  src: url("./fonts/league-spartan/LeagueSpartan-Bold.otf");
}

@font-face {
  font-family: "zeroZero";
  src: url("./fonts/Zero-Zero-Is/zero_and_zero_is.ttf");
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.wrapper, .header, h1, .box-container, .box, .form-box, .counter, .footer-wrapper, button {
  position: absolute;
  color: #E6F4F1;
}

.header, h1, .box-container {
  width: 100vw;
}

/* HEADER STYLE */

.header {
  height: 30%;
}

h1 {
  top: 10%;
  font-size: 9vh;
  font-family: zeroZero;
  padding: 0.25rem;
}

#not-found {
  font-family: sans-serif;
}

/* CONTAINER STYLE */

.box-container {
  top: 30%;
  height: 50%;
}

.box {
  width: 40%;
  height: 70%;
  top: 20%;
}

#box1 {
  left: 8%;
}

#box2 {
  left: 52%;
}

h2 {
  text-transform: uppercase;
  font-size: 3.5vh;
  padding: 0.25rem;
}

.counter {
  left: 0;
  right: 0;
  height: 75%;
  text-align: center;
  background-color: #007296;
  border-radius: 0.25rem;
  font-size: 15vh;
  font-family: sans-serif;
}

.counter:hover {
  color: white;
}

/* Form styles */

.form-box {
  width: 20%;
  height: 70%;
  left: 20%;
}

#formbox1 {
  top: 20%;
}

#formbox2 {
  top: 40%;
}

input[type=text] {
  display: inline-block;
  padding: 12px 20px;
  margin: 8px 0;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color: transparent;
  color: #E6F4F1;
}

input[type=text]:focus {
  border: 3px solid #555;
}

/* Footer styles */

.footer-wrapper {
  width: 80%;
  bottom: 0;
  margin: 0 10%;
  
  padding: 2rem 1rem;
  font-family: sans-serif;
  font-size: .75rem;
}

/* ===== COMPONENT STYLES ===== */

/* Button styles */

#button1 {
  position: absolute;
  top: 80%;
  left: 40%;
  width: 20%;
  font-weight: bold;
  font-size: 2.5vh;
  text-transform: uppercase;
  background-color: #007296;
  padding: 1rem;
  border: 0;
  border-radius: 0.25rem;
}

/* MEDIA QUERIES */

@media (min-width: 800px) {

  h1 {
    font-size: 10vh;
  }

  .box {
    width: 20%;
  }
  
  #box1 {
    left: 20%;
  }
  
  #box2 {
    left: 60%;
  }

  .form-box {
    top: 20%;
  }
  
  #formbox1 {
    left: 20%;
  }
  
  #formbox2 {
    top: 20%;
    left: 60%;
  }

  .footer-wrapper {
    width: 40%;
    margin: 0 30%;
  }

}