/* GENERAL STYLE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  margin: 0;
  background-color: #333;
  position: relative;
}

.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: "leagueSpartan";
  src: url("./fonts/league-spartan/LeagueSpartan-Bold.otf");
}

@font-face {
  font-family: "zeroZero";
  src: url("./fonts/Zero-Zero-Is/zero_and_zero_is.ttf");
}

/* HEADER STLYE */

.header {
  position: absolute;
  width: 100vw;
  height: 30%;
}

h1 {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  border-radius: 0.25rem;
  color: #ECFCFF;
  font-size: 6rem;
  font-family: zeroZero;
  padding: 0.25rem;
}

/* CONTAINER STYLE */

.container {
  position: absolute;
  top: 30%;
  width: 100vw;
  height: 50%;
}

#box1 {
  position: absolute;
  width: 20%;
  height: 70%;
  top: 20%;
  left: 20%;
}

#box2 {
  position: absolute;
  width: 20%;
  height: 70%;
  top: 20%;
  left: 60%;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #E6F4F1;
  font-size: 2rem;
  font-family: leagueSpartan;
  padding: 0.25rem;
}

.counter-box {
  position: absolute;
  left: 0;
  right: 0;
  height: 75%;
  text-align: center;
  background-color: #007296;
  border-radius: 0.25rem;
  color: #E6F4F1;
  font-size: 10rem;
  font-family: sans-serif;
}

.counter-box:hover {
  color: white;
}
